@font-face {
    font-family: 'OnguelipBold';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

  @font-face {
    font-family: 'OnguelipRegular';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipRegular.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
