@font-face {
    font-family: 'OnguelipAsphalt';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipAsphalt.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OnguelipLight';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipLight.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
 @font-face {
    font-family: 'OnguelipRegular';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipRegular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OnguelipBold';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'OnguelipLink';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipLink.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'OnguelipOutline';
    src: url('https://cdn.jsdelivr.net/gh/1enough-design/1enough/font/OnguelipOutline.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


 
